.ratio-input-container {
  position: relative;

  .ratio-input {
    width: 6em;
    padding: 0.2em 0.4em;
    text-align: center;
    font-size: inherit;
    border: solid 1px #aaa;
    border-radius: 0.1em;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: #aaa;
      opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder {
      /* Edge 12 -18 */
      color: #aaa;
    }

    &:focus {
      outline: solid 1px #aaa;
    }

    @media (min-width: 700px) {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;

      &:focus {
        border-bottom-width: 2px;
        outline: none;
      }
    }
  }

  .copy-button {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    padding: 1em;
    border: none;
    background-color: transparent;
    opacity: 0.7;

    img {
      height: 1.4em;
      vertical-align: middle;
    }

    &:hover {
      opacity: 1;
    }
  }

  .ratio-input-error {
    font-size: 0.7em;
    position: absolute;
    padding-top: 0.5em;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 170, 170);
    width: 100%;
  }
}
