.ratio-input-container {
	position: relative;

	.ratio-input {
		width: 6em;
		padding: .2em .4em;
		text-align: center;
		font-size: inherit;
		border: solid 1px #aaa;
		border-radius: .1em;
		background-color: transparent;
		outline: none;

		&:focus {
			outline: solid 1px #aaa;
		}

		@media (min-width: 700px) {
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 0;

			&:focus {
				border-bottom-width: 2px;
				outline: none;
			}
		}
	}

	.copy-button {
		cursor: pointer;
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		padding: 1em;
		border: none;
		background-color: transparent;
		opacity: .7;

		img {
			height: 1.4em;
			vertical-align: middle;
		}

		&:hover {
			opacity: 1;
		}
	}

	.ratio-input-error {
		font-size: .7em;
		position: absolute;
		padding-top: .5em;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		color: rgb(255, 170, 170);
		width: 100%;
	}
}